:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  background-color: antiquewhite;
  display: flex;
  margin: 0;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
