<div class="content">
  <h1>APP 3 (Webpack Module Federation)</h1>
  <p>
    <a routerLink="/about/user/2" title="Using Angular Router">to Aram`s page</a>
  </p>

  <div>
    <button (click)="goToApp('app1')" title="Using postMessage">to APP1</button>
  </div>

  <p>
    <a routerLink="/app2" title="Using Angular Router">to APP2</a>
  </p>

  <p>
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
</div>

<router-outlet></router-outlet>
